<div class="register-now-stripe">
  <a href="/slides-videos.html">
    <button class="btn btn-primary register-large" type="button">
      Slides, Videos &amp; Photos
    </button>
  </a>

  <span style="padding: 1em;"></span>

  <a href="/talks.html">
    <button class="btn btn-primary view-schedule-large" type="button">
      Program and Speakers
    </button>
  </a>
</div>

<div class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>Sponsors</h2>
      </div>

      <div class="col-md-offset-2 col-md-5 col-sm-12">
        <h3>Platinum</h3>

        <a href="http://www.axa.com/"><img class="platinum"
            src="/static/images/sponsors/axa.png"></a>
      </div>

      <div class="col-md-3 col-sm-12">

        <h3>Gold</h3>

        <a href="http://www.microsoft.com/click/services/Redirect2.ashx?CR_CC=200599329"><img
            class="gold" src="/static/images/sponsors/azure.png"></a>

        <a href="http://www.nexedi.com/"><img class="gold"
            src="/static/images/sponsors/nexedi.png"></a>
      </div>

      <div class="col-md-offset-2 col-md-8 col-sm-12">

        <h3>Silver</h3>

        <a href="http://www.abilian.com/"><img class="silver"
            src="/static/images/sponsors/abilian.png"></a>

        <a href="http://www.datadoghq.com/"><img class="silver"
            src="/static/images/sponsors/datadog.png"></a>

        <a href="http://www.dataiku.com/"><img class="silver"
            src="/static/images/sponsors/dataiku.png"></a>

        <a href="http://www.equancy.com/"><img class="silver"
            src="/static/images/sponsors/equancy.png"></a>

        <a href="http://www.logilab.fr/"><img class="silver"
            src="/static/images/sponsors/logilab.png"></a>
      </div>

    </div>
  </div>
</div>