<meta charset="utf-8"><title>{{ page.metadata.title }} | PyData Paris
  2015</title>

<link href="/static/base/includes/images/favicon.ico" rel="shortcut icon"/>

<link
    href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic'
    rel='stylesheet' type='text/css'>

<link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    type="text/css" media="screen"/>

<link rel="stylesheet" href="/static/css/pydata.css" type="text/css"
    media="screen"/>
